# Python/Django
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
db.sqlite3
.env
staticfiles/
media/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.directory

# Web/Node (if any UI elements)
node_modules/

# IDEs & System
.idea/
.vscode/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
